<div class="container top-spaced">
  <div class="row">
    <div class="col-md-9">
      <div class="card" ng-if="articles.length<1">
        <div class="cover">
          <img src="/blog/images/error-cover.svg" alt="Oops, no articles found">
          <div class="caption">
            <h3>Oops, we can't find any articles.</h3>
            <p>Please check back later.</p>
          </div>
        </div>
      </div>
      <div class="card" ng-repeat="article in articles" ng-mouseenter="autoRetrieveComments(article)">
        <div class="cover">
          <img alt="Cover image" ng-src="{{article.cover || '/blog/images/default-cover.svg'}}">
          <div class="caption">
            <h3><a href ng-href="#/blog/archive/{{article.title}}">{{article.displayTitle}}</a></h3>
            <h5>{{article.abstract}}</h5>
            <p class="pull-right">
              <a href class="btn btn-link btn-xs" ng-href="#/blog/edit/{{article.title}}" ng-if="user.admin"><span class="glyphicon glyphicon-pencil"></span></a>
              <a href class="btn btn-link btn-xs" ng-click="remove(article)" ng-if="user.admin"><span class="glyphicon" ng-class="{'glyphicon-trash': !article.removing, 'glyphicon-remove': article.removing}"></span></a>
            </p>
            <p>{{article.date | date:"@HHmm'hrs', MMM dd yyyy"}}</p>
          </div>
        </div>
        <div class="card-content">
          <div class="article-content" ng-bind-html="markdown.render(article.content)"></div>
          <p class="right-aligned">
            <span class="pull-left" ng-if="article.labels.length>0">
              <span class="glyphicon glyphicon-tag"></span>
              <a href class="btn btn-link" ng-href="#/blog/archive/label:{{label}}" ng-repeat="label in article.labels">{{label}}</a>
            </span>
            <button class="btn btn-link" ng-click="article.showComments=!article.showComments"><span class="glyphicon glyphicon-comment"></span> {{article.comments.length || ''}}</button>
          </p>
          <div class="article-comments" ng-show="article.showComments">
            <div class="article-comment media" ng-repeat="comment in article.comments">
              <div class="media-left">
                <img alt="User profile image" class="media-object comment-profileimg" title="{{comment.user.displayName || comment.author}}" ng-src="{{comment.user.profileimg || '/users/images/default.svg'}}">
              </div>
              <div class="media-body article-comment-content" ng-hide="comment.editing">
                <p class="article-comment-util pull-right" ng-if="user.name==comment.author||user.admin">
                  <a href class="btn btn-link btn-xs" ng-click="comment.edit=comment.content;comment.editing=true"><span class="glyphicon glyphicon-pencil"></span></a>
                  <a href class="btn btn-link btn-xs" ng-click="removeComment(comment, article)"><span class="glyphicon" ng-class="{'glyphicon-trash': !comment.removing, 'glyphicon-remove': comment.removing}"></span></a>
                </p>
                <h5 class="media-heading"><strong>{{comment.user.displayName || comment.author}}</strong> <small>{{comment.date | date:"@HHmm'hrs', MMM dd yyyy"}}</small></h5>
                <p>{{comment.content}}</p>
              </div>
              <form class="media-body article-comment-editor" ng-show="comment.editing" ng-submit="updateComment($event, comment)">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Say something..." ng-model="comment.edit" rows="2"></textarea>
                </div>
                <p class="right-aligned">
                  <button type="reset" class="btn btn-default btn-xs" ng-click="comment.editing=false">Cancel</button>
                  <button type="submit" class="btn btn-primary btn-xs">Edit</button>
                </p>
              </form>
            </div>
            <div class="article-comment media" ng-show="user">
              <div class="media-left">
                <img alt="User profile image" class="media-object comment-profileimg" ng-src="{{user.profileimg || '/users/images/default.svg'}}">
              </div>
              <form class="media-body article-comment-editor" ng-submit="submitComment($event, article)">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Say something..." ng-model="article.newComment" rows="2" required></textarea>
                </div>
                <p class="right-aligned">
                  <button type="reset" class="btn btn-default">Clear</button>
                  <button type="submit" class="btn btn-primary">Comment</button>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
      <p class="center-aligned">
        <button type="button" class="btn btn-link" ng-click="updateQuery({page:query.page-1})" ng-disabled="!query.page||query.page<2"><span class="glyphicon glyphicon-menu-left"></span></button>
        <a href="#/blog" class="btn btn-link btn-lg"><span class="glyphicon glyphicon-home"></span></a>
        <button type="button" class="btn btn-link" ng-click="query.page?updateQuery({page:query.page+1}):updateQuery({page:2})" ng-disabled="articles.length<5"><span class="glyphicon glyphicon-menu-right"></span></button>
      </p>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="cover">
          <img alt="Label cover" ng-src="{{filter.label.cover || '/blog/images/default-label.svg'}}">
          <h5 class="caption"><a href ng-click="activeLabelFilter=!activeLabelFilter"><span class="glyphicon glyphicon-tag"></span>&nbsp; {{filter.label.title || 'Labels'}} <span class="glyphicon pull-right" ng-class="{'glyphicon-menu-down':!activeLabelFilter,'glyphicon-menu-up':activeLabelFilter}"></span></a></h5>
        </div>
        <div class="card-content" ng-show="activeLabelFilter">
          <ul class="list-group label-group">
            <li ng-repeat="label in labels" ng-style="label.style">
              <a href ng-click="updateQuery({label:label.title})" tooltip="{{label.desc || label.title}}" tooltip-placement="top">{{label.title}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="cover">
          <img alt="Calendar cover" ng-src="{{'/blog/images/default-cover-'+(query.date?query.date.slice(-2):'00')+'.svg'}}">
          <h5 class="caption"><a href ng-click="activeDateFilter=!activeDateFilter"><span class="glyphicon glyphicon-folder-open"></span>&nbsp; {{(filter.date | date: 'MMM yyyy' )|| 'Archive'}} <span class="glyphicon pull-right" ng-class="{'glyphicon-menu-down':!activeDateFilter,'glyphicon-menu-up':activeDateFilter}"></span></a></h5>
        </div>
        <div class="card-content" ng-show="activeDateFilter">
          <accordion close-others="true">
            <accordion-group ng-repeat="year in calendar" heading="{{year.year}}">
              <div class="row">
                <div class="col-xs-4" ng-repeat="month in year.months"><a href class="text-uppercase" ng-click="updateQuery({date:year.year+'-'+month.month})">{{month.name}}</a></div>
              </div>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
  </div>
</div>
